# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Database
data/*.db